#div1{
  background:red;
  height:400px;
  width:100%;
}
#div2{
  background:blue;
  height:400px;
  width:100%;
}
#div3{
  background:green;
  height:400px;
  width:100%;
}
#div4{
  background:yellow;
  height:400px;
  width:100%;
}
#div5{
  background:purple;
  height:400px;
  width:100%;
}

#box-1{
  height:200px;
  position:relative;
  width:300px;
  background:black;
  margin: auto;
  top:75px;
  opacity: .05;
  border-radius: 50px;

}

